<mat-toolbar class="fixed-toolbar">
  <span>Biblioteca</span>
  <span class="spacer"></span>
  <!-- Espaciador flexible para empujar los botones hacia la derecha -->
  <div>
    <button mat-raised-button color="accent" [matMenuTriggerFor]="autorMenu">
      <mat-icon>people</mat-icon>  Autor
    </button>
    <span class="button-gap"></span>
    <!-- Espacio entre botones -->
    <button mat-raised-button color="accent" [matMenuTriggerFor]="libroMenu">
      <mat-icon>book</mat-icon>Libro
    </button>
    <span class="button-gap"></span>

    <button mat-raised-button color="accent" (click)="openBackOffices()">
      <mat-icon>settings</mat-icon>Cupones
    </button>
    <span class="button-gap"></span>
    <button mat-raised-button color="accent" (click)="verCarrito()">
      <mat-icon>shopping_cart</mat-icon>Carrtio
    </button>
  </div>
</mat-toolbar>

<mat-menu #autorMenu="matMenu" yPosition="below">
  <button mat-menu-item (click)="verAutor()">
     Ver Autor
  </button>
  <button mat-menu-item (click)="nuevoAutor()">
    Agregar Autor
  </button>
</mat-menu>

<mat-menu #libroMenu="matMenu" yPosition="below">
  <button mat-menu-item (click)="nuevoLibro()">
     Agregar Libro
  </button>
</mat-menu>
