<mat-toolbar class="fixed-toolbar">
  <span class="cursor-style" (click)="verAutor()">Biblioteca</span>
  <span class="spacer"></span>
  <div>
    <button mat-raised-button color="accent" [matMenuTriggerFor]="autorMenu" *ngIf="userRole === 'Administrador'">
      <mat-icon>people</mat-icon> Autor
    </button>
    <span class="button-gap"></span>
    <button mat-raised-button color="accent" (click)="verLibros()">
      <mat-icon>remove_red_eye</mat-icon> Ver Libros
    </button>
    <span class="button-gap"></span>
    <button mat-raised-button color="accent" [matMenuTriggerFor]="libroMenu" *ngIf="userRole === 'Administrador'">
      <mat-icon>book</mat-icon> Libro
    </button>
    <span class="button-gap"></span>
    <button mat-raised-button color="accent" (click)="openBackOffices()" *ngIf="userRole === 'Administrador'">
      <mat-icon>settings</mat-icon> Cupones
    </button>
    <span class="button-gap"></span>
    <button mat-raised-button color="accent" [matBadge]="cantidadLibros" matBadgeColor="primary" (click)="verCarrito()" >
      <mat-icon>shopping_cart</mat-icon> Carrito
    </button>
    <span class="button-gap"></span>
    <button mat-raised-button color="accent" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #autorMenu="matMenu" yPosition="below">
  <button mat-menu-item (click)="verAutor()">
    Ver Autor
  </button>
  <button mat-menu-item (click)="nuevoAutor()">
    Agregar Autor
  </button>
</mat-menu>

<mat-menu #libroMenu="matMenu" yPosition="below">
  <button mat-menu-item (click)="nuevoLibro()">
    Agregar Libro
  </button>
</mat-menu>