<mat-card style="width: 70%; margin: 50px auto;">
  <mat-card-header>
    <mat-card-title>Autores Recomendados</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="margin-top: 20px; display: flex; align-items: center;">
      <input matInput [(ngModel)]="searchId" placeholder="Ingrese Nombre"
        style="flex: 1; margin-right: 8px; height: 40px; border-radius: 5px;">
      <button mat-icon-button color="primary" (click)="buscarAutor()" style="color: #1976d2;">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <hr>
    <div class="lista-tarjetas">
      <mat-card style="width: 30%;" *ngFor="let autor of listaAutor">
        <div class="autor-imagen-container">
          <img *ngIf="autor.imagenes" [src]="'data:image/png;base64,' + autor.imagenes" alt="Autor"
            class="autor-imagen">
        </div>
        <mat-card-content>
          <p>{{ autor.nombre }} {{ autor.apellido }}</p>
          <p>{{ autor.fechaNacimiento | date }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>