<style>
  .lista-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .lista-tarjetas mat-card {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
  }

  .autor-imagen {
    width: 100%;
    height: auto;
    max-height: 200px; /* Ajusta este valor según tus necesidades */
    object-fit: cover;
  }

  .autor-imagen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Ajusta este valor según tus necesidades */
    overflow: hidden;
  }
</style>

<mat-card style="width: 70%; margin: 50px auto;">
  <mat-card-header>
    <mat-card-title>Lista Autores</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button mat-flat-button color="primary" (click)="nuevo()">Nuevo Autor</button>
    <hr>
    <div class="lista-tarjetas">
      <mat-card style="width: 30%;" *ngFor="let autor of listaAutor">
        <div class="autor-imagen-container">
          <img *ngIf="autor.imagenes" [src]="'data:image/png;base64,' + autor.imagenes" alt="Autor" class="autor-imagen">
        </div>
        <mat-card-content>
          <p>{{ autor.nombre }} {{ autor.apellido }}</p>
          <p>{{ autor.fechaNacimiento | date }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
