<mat-card style="width: 70%; margin: 50px auto;">
    <mat-card-header>
        <mat-card-title>Lista de Cupones</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form (ngSubmit)="crearCupon()" style="display: flex; flex-direction: column; gap: 16px; align-items: center;">
            <!-- Sección Superior: Cupon Codigo, Descuento, Descuento Min -->
            <div style="display: flex; gap: 16px; flex-wrap: wrap;">
                <mat-form-field appearance="fill">
                    <mat-label>Cupon Codigo</mat-label>
                    <mat-icon matPrefix>featured_play_list</mat-icon>
                    <input matInput [(ngModel)]="cuponCode" name="cuponCode" disabled />
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Descuento</mat-label>
                    <mat-icon matPrefix>attach_money</mat-icon>
                    <input matInput type="number" [(ngModel)]="porcentajeDescuento" name="porcentajeDescuento" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Descuento Min</mat-label>
                    <mat-icon matPrefix>money_off</mat-icon>
                    <input matInput type="number" [(ngModel)]="descuentoMinimo" name="descuentoMinimo" required>
                </mat-form-field>
            </div>

            <!-- Sección Inferior: Fechas y Botón -->
            <div style="display: flex; gap: 16px; flex-wrap: wrap;">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Fecha de Inicio</mat-label>
                    <input matInput [matDatepicker]="picker1" [(ngModel)]="fechaInicio" name="fechaInicio"
                        [matDatepickerFilter]="dateInicioFilter">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Fecha Final</mat-label>
                    <input matInput [matDatepicker]="picker2" [(ngModel)]="fechaFinal" name="fechaFinal"
                        [matDatepickerFilter]="dateFinalFilter">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <button mat-icon-button color="primary" type="submit"
                    [disabled]="!cuponCode || porcentajeDescuento == null || descuentoMinimo == null">
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </form>


        <div style="margin-top: 20px; display: flex; align-items: center;">
            <mat-form-field appearance="fill" style="flex: 1; margin-right: 8px;">
                <mat-select [(ngModel)]="searchType">
                    <mat-option value="id">Buscar por ID</mat-option>
                    <mat-option value="cuponCode">Buscar por Código</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Buscar..." [(ngModel)]="searchValue">

            </mat-form-field>
            <button mat-icon-button color="primary" (click)="buscarCupon()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
        <hr>

        <div *ngIf="dataSource.data.length === 0" class="no-cupons">
            <div class="lottie-container">
                <iframe src="https://lottie.host/embed/4797b1a8-2952-453d-888b-66342f77bd7d/UthYbuKaLN.json"
                    width="100%" height="250px" frameborder="0"></iframe>
            </div>
        </div>

        <table *ngIf="dataSource.data.length > 0" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="cuponId">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.cuponId}} </td>
            </ng-container>

            <ng-container matColumnDef="cuponCode">
                <th mat-header-cell *matHeaderCellDef> Codigo </th>
                <td mat-cell *matCellDef="let element"> {{element.cuponCode}} </td>
            </ng-container>

            <ng-container matColumnDef="porcentajeDescuento">
                <th mat-header-cell *matHeaderCellDef> Desc. Max </th>
                <td mat-cell *matCellDef="let element"> {{element.porcentajeDescuento}} <span>%</span></td>
            </ng-container>
            <ng-container matColumnDef="descuentoMinimo">
                <th mat-header-cell *matHeaderCellDef> Desc. Min </th>
                <td mat-cell *matCellDef="let element"> {{element.descuentoMinimo}} <span>%</span> </td>
            </ng-container>
            <ng-container matColumnDef="fechaInicio">
                <th mat-header-cell *matHeaderCellDef> Inicio Validez </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaInicio | date: 'dd/MM/yy'}} </td>
            </ng-container>
            <ng-container matColumnDef="fechaFinal">
                <th mat-header-cell *matHeaderCellDef> Fin Validez </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaFinal | date: 'dd/MM/yy'}} </td>
            </ng-container>
            <!-- Nueva columna para el botón de editar -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="editarCupon(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon [style.color]="element.status ? 'green' : 'red'"> {{element.status ? 'check_circle' :
                        'cancel'}} </mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>