<div
  class="mat-elevation-z2"
  style="
    width: 80%;
    padding: 30px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  "
>
  <div style="width: 40%; display: flex; flex-direction: column">
    <div style="display: flex; align-items: center; margin-bottom: 20px">
      <mat-icon>persona</mat-icon>
      <h2 style="margin-left: 10px">Nuevo autor</h2>
    </div>

    <form
      [formGroup]="formAutorLibro"
      style="display: flex; flex-direction: column"
    >
      <div class="flex" style="margin-bottom: 20px">
        <mat-form-field style="width: 100%">
          <mat-label>Nombre: </mat-label>
          <input matInput formControlName="nombre" />
          <mat-icon matSuffix>check</mat-icon>
        </mat-form-field>
      </div>

      <div class="flex" style="margin-bottom: 20px">
        <mat-form-field style="width: 100%">
          <mat-label>Apellidos: </mat-label>
          <input matInput formControlName="apellido" />
          <mat-icon matSuffix>check</mat-icon>
        </mat-form-field>
      </div>

      <div class="flex" style="margin-bottom: 20px">
        <mat-form-field style="width: 100%">
          <mat-label>Fecha</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="fechaNacimiento"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="flex" style="margin-bottom: 20px">
        <mat-form-field style="width: 100%">
          <mat-label>Imagen</mat-label>
          <ngx-mat-file-input formControlName="imagen"></ngx-mat-file-input>
        </mat-form-field>
      </div>

      <div class="flex">
        <button mat-flat-button color="primary" (click)="guardar()">
          Guardar
        </button>
        <button
          mat-flat-button
          color="warn"
          style="margin-left: 10px"
          (click)="volver()"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>

  <div style="width: 40%; display: flex; flex-direction: column">
    <div class="lottie-container" style="width: 100%; text-align: center">
      <div style="display: inline-block">
        <iframe
          src="https://lottie.host/embed/51be1c5d-505f-4fdd-a332-01d9ec1f6bba/jsIgB8vU6y.json"
          width="100%"
          height="550px"
          frameborder="0"
        ></iframe>
      </div>
    </div>
  </div>
</div>
